@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: #fafafc;
  }
  h1 {
    @apply text-4xl font-semibold;
  }

  p {
    @apply text-sm;
  }

  .c-container {
    @apply bg-white
            shadow-2xl
            rounded-2xl

            mx-auto
            
            p-6
            max-w-md

            flex
            flex-col
            justify-center;
  }

  .text-input {
    @apply p-2
            py-1.5
            w-full
            box-border

            outline-none
            rounded-md
            border-0
            text-gray-900
            shadow-sm
            ring-1
            ring-inset
            ring-gray-300

            placeholder:text-gray-400
            focus:ring-1
            focus:ring-inset
            focus:ring-primary-600
            
            invalid:ring-red-600

            sm:text-sm sm:leading-6

            ease-in-out duration-300;
  }

  .radio-input {
    @apply h-4
            w-4            
            cursor-pointer

            border-gray-300
            text-primary-600
            focus:ring-primary-600;
  }
  .checkbox {
    @apply w-4 
           h-4 
           cursor-pointer 
           rounded 

          text-primary-600 
          border-gray-300
          
          focus:ring-primary-600
          invalid:ring-red-500 
          invalid:focus:ring-red-500;
  }
  .dropzone {
    @apply cursor-pointer
            border
            border-gray-300

            w-44 h-44 
            bg-gray-50
            shadow-md

            rounded-full
            text-center
            text-gray-500
            hover:border-gray-600

            bg-clip-content
            ease-in-out duration-300;
  }
  .dropzone-content {
    @apply relative;
  }
  .dropzone-content::before {
    @apply content-['Upload_Profile'] 

            left-0 bottom-0 absolute
            text-sm
            text-gray-300
            hover:text-gray-600
            ease-in-out duration-300

            w-full
            h-24;
  }
  .acceptfile {
    @apply w-44 h-44
            shadow-inner
            rounded-full
            object-cover
            object-center
            bg-no-repeat;
    transform: scaleY(0.99) translateY(-1px);
  }
  .btn {
    @apply mt-4
            w-full
            rounded-md
            /* bg-gray-500 */
            px-3.5
            py-2.5
            text-sm
            font-semibold
            text-white
            shadow-sm
            /* enabled:hover:bg-primary-700 */
            focus-visible:outline
            focus-visible:outline-2
            focus-visible:outline-offset-2
            /* enabled:focus-visible:outline-primary-600 */
            box-border

            disabled:opacity-30
            disabled:cursor-not-allowed
            
            ease-in-out duration-300;
  }
}
